Header {
    background: $primary;
    dock: top;
    text-style: bold;
}

Footer {
    background: $boost;
    color: $text-muted;
    dock: bottom;
    .footer--key {
        background: $boost-lighten-2;
    }
    .footer--highlight-key {
        background: $primary;
    }
}

XGAnsiblePlaybookDebugger {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

XGPlaybookInformation {
    content-align: center middle;
    height: 3;
}

XGPlaybookDescription {
    content-align: center middle;
    text-opacity: 60%;
    height: 1;
}

XGPlaybookPathMain {
    content-align: center middle;
    text-opacity: 60%;
    height: 1;
}

XGPlaybookPlaysHeading {
    background: $boost;
    content-align: center middle;
    text-opacity: 60%;
    height: 1;
}

XGTimeDisplay {
    content-align: center middle;
    text-opacity: 60%;
    height: 1;
}

#main-results-container{
    content-align: center middle;
}

#playbook-stats-container{
    content-align: center middle;
    height: auto;
    padding: 0;
    width: 100%;
}

#start {
    dock: left;
}

#stop {
    dock: left;
    display: none;
}

#reset {
    dock: right;
}
.pending {
    display: none
}

.updated {
    display: block
}
.started {
    text-style: bold;
    background: $success;
    color: $text;
}

.started TimeDisplay {
    text-opacity: 100%;
}

.started #start {
    display: none
}

.started #stop {
    display: block
}

.started #reset {
    visibility: hidden
}